<div class="screen">
    <div id="login-element">
        <h2>INTRO TOUR</h2><br>
        <div class="ui massive input" id="e-mail_input">
            <input type="text" placeholder="e-mail" name="e-mail">
        </div>
        <div class="ui massive input" id="password_input">
            <input type="password" placeholder="password" name="password">
        </div>
        <br>
        <div>
            <input type="button" class="massive one ui teal button" value="login" (click)="loginTo()">
        </div>
        <br>
    </div>
</div>