
<div class="page">
  <h1>Maak een event aan!</h1>
  <h3>Klik op de kaart om een locatie te kiezen</h3>
  <div class="map">
    <agm-map [latitude]="curPosition.x" [longitude]="curPosition.y" [zoom]="15" (mapClick)="getLocationOnMap($event)">
      <agm-marker [latitude]="chosen_lat" [longitude]="chosen_long">
          <agm-circle [latitude]="chosen_lat" [longitude]="chosen_long" [radius]="range"></agm-circle>
      </agm-marker>
    </agm-map>
    <form action=""><br>
      <div *ngIf="chosen_lat != null && chosen_long != null">
        <h3>Set range:</h3>
        <input class="ui range black inverted" type="range" min="1" max="25" [(ngModel)]="range" name="range"> <p>{{range}}</p> <br><br>        
      </div>
      <div class="ui input">
        <input type="text" [(ngModel)]="name" name="name">
      </div><br><br>
      <div class="ui input">
        <input type="text" [(ngModel)]="description" name="description">
      </div><br><br>
      <button type="submit" class="ui button normal blue" (click)="saveLocation()">Submit</button>
    </form>

  </div>
  <div class="ui cards events">
    <div class="card" *ngFor="let event of events">
      <div class="content">
        <div class="header">
          {{event.location.name}} ({{event.event_id}})
        </div>
        <div class="meta">
          {{event.location.description}}
        </div>
        <div class="description">
          latitude: {{event.location.latitude}} <br>
          longitude: {{event.location.longitude}} <br><br>
          radius: {{event.location.radius.data}} meter
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic blue button disabled"><i class="fas fa-pen"></i></div>
          <div class="ui basic red button" (click)="deleteLocation(event.location.id, event.event_id)"><i class="fas fa-trash-alt"></i></div>
        </div>
      </div>
    </div>
  </div>
<div class="ui container top-fifty">
	<div class="ui form">
		<div class="three fields">
			<div class="two wide field">
				<label for="hours">Uren</label>
				<input [(ngModel)]="time.h" numericFormControl id="hours" type="text" placeholder="UU" maxlength="17" pattern="\d*">
			</div>
			<div class="two wide field">
				<label for="minutes">Minuten</label>
				<input [(ngModel)]="time.m" numericFormControl id="minutes" type="text" placeholder="MM" maxlength="19" pattern="\d*">
			</div>
			<div class="two wide field">
				<label for="seconds">Seconden</label>
				<input [(ngModel)]="time.s" numericFormControl id="seconds" type="text" placeholder="SS" maxlength="19" pattern="\d*">
			</div>
		</div>
	</div>
	<button class="ui button normal green" (click)="makeTour()">Oplsaan</button>
</div>